<h1>Jukebox Control Panel</h1>
<h2>For all your party needs</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'jukebox:search' %}" method="post">
{% csrf_token %}
<input type="" value="Artist" id="Artist", name="Artist">
<input type="submit" value="Load" />
</form>

<form action="{% url 'jukebox:pause' %}" method="post">
{% csrf_token %}
<input type="submit" value="Pause" />
</form>

<form action="{% url 'jukebox:play' %}" method="post">
{% csrf_token %}
<input type="submit" value="Play" />
</form>
