<h1>Jukebox Control Panel</h1>
<h2>Party central!</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'jukebox:search' %}" method="post">
{% csrf_token %}
<input type="" value="Artist" id="Artist", name="Artist">
<input id="Type" value="Type" name="Type" list="types">
<datalist id="types">
	<option value="artist">
	<option value="album">
	<option value="title">
	<option value="track">
	<option value="name">
	<option value="any">
</datalist>
<input type="number" value="NumSongs" name="NumSongs" id="NumSongs">
<input type="submit" value="Load" />
</form>

<form action="{% url 'jukebox:load' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>

<form action="{% url 'jukebox:pause' %}" method="post">
{% csrf_token %}
<input type="submit" value="Pause" />
</form>

<form action="{% url 'jukebox:play' %}" method="post">
{% csrf_token %}
<input type="submit" value="Play" />:w

</form>
